.private-layout{
    width: 100%;
    min-height: 100vh;
    background-color: $bg-main;
    display: flex;
    flex-direction: column;

    .aside_container-layout{
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .private-container{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px){
    .private-layout{
        display: flex;
        flex-direction: row;

        .aside_container-layout{
            position: fixed;
            padding-top: 0;
            width: $left-aside-width;
            height: 100vh;
        }
        .private-container{
            padding-left: $left-aside-width;
            width: 100%;
        }
    }
}