// Font color 
$white: #ffffff;
$black: #000000;
$text-purple: #7692FF;
$text-error: #FF4C4C;

// Background
$bg-main: #f5f5f5;

// Inputs
$border-input-color: #9E9E9E;
$border-radius-input: 10px;

// buttons:

$border-radius-button: 8px;



$border-radius-container : 12px;
$box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);